{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Items</title>
    <link rel="stylesheet" href="/css/css.css">
</head> --}}
{{!-- <body> --}}
    {{!-- <header>
        <div class="cont">
                {{#with owners}}
                <h1>Wellcome to {{firstname}} {{lastname}} shop</h1>
                {{/with}}
        </div>
        <nav>
            <ul class="nav_links"> 
                <li><a href="/shop">Main Page</a></li>
                <li><a href="/userinfo">Edit profile</a></li>
                <li><a href="/add">Add items</a></li>
            </ul>
        </nav>
    </header> --}}
    
    <div class="h2e">
        <h2 class="h2e1">Simple shop adding</h2>
    </div>
    <br>
    <br>
    <br>
    <div class="editdiv">
        <form action="/add" method="POST">
            <ul class="form-style-2">
                    <li><label>Name kala<span class="required">*</span></label><input type="text" name="title" class="field-divided" placeholder="Title" /> 
                    <li>
                        <label>Mablagh <span class="required">*</span></label>
                        <input type="number" name="price" class="field-long" />
                    </li>
                    <li>
                        <label>Description<span class="required">*</span></label>
                        <textarea name="description" id="description" class="field-long field-textarea"></textarea>
                    </li>
                    <li>
                        <input type="text" name="img" placeholder="Image Url" required>
                    </li>
                    <li>
                        <input type="submit" value="Add Item" />
                    </li>
                </ul>
        </form>
    </div>
    {{!-- <h2>Simple shop adding</h2>
        <form action="/add" method="POST">
            <input type="text" name="title" placeholder="Title">
            <input type="number" name="price" placeholder="Price">
            <input type="text" name="description" placeholder="Description">.
            <input type="file" name="img" placeholder="Image">
            <input type="submit" value="Add item">
        </form> --}}
{{!-- </body>
</html> --}}